.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --primary-color: white;
  --secondary-color: #133588;
  --tertiary-color: #806c6c;
}

.hero-container {
  background-image: url("https://assets.codepen.io/6060109/agency-hero-image.png");
  background-size: cover;
  height: 400px;
  background-repeat: no-repeat;
  color: var(--primary-color);
  position: relative;
}
nav {
  display: flex;
  justify-content: center;
}
nav > p {
  padding: 0 10px;
}
.hero-container > h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
  text-align: center;
}
.services-container {
  color: var(--secondary-color);
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
}
.services {
  display: flex;
  width: 70%;
}
.service-box {
  padding: 0 20px;
}
.service-box > img {
  width: 100%;
}
.service-box > p {
  font-weight: bold;
  color: var(--tertiary-color);
}
