* {
  font-family: Arial, sans-serif;
}
h1  {
  font-size: 50px;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 101, 101);
  width: 80%;
  height: 80%;
  text-align: center;
  color: rgb(230, 230, 230);
  border-radius: 20px;
}
.btn-container {
  width: 40%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
  margin-top: 20px;
}
.btn-container > button {
  font-size: 50px;
  width: 60px;
  border: none;
  border-radius: 5px;
}
.rendered-tomatoes {
  font-size: 40px;
  margin: 5px;
}
.tomato-box {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 70px;
}
.tomato-box > h3 {
  width: 10px;
  margin-right: 30px;
}
.tomato-day-box {
  border: 1px solid white;
  height: 80%;
  width: 400px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.tomato-day-box > h3 {
  margin-left: 10px;
}
